 .headerClass{
 	height: 25px;text-align: center;color:#404040;background: #c7e9ad;font-size:14px;
 }
 .evenRow{
 	height: 23px;background:#e3fcff;text-align:center;font-size:14px;color:#404040
 }

 .oddRow{
 	height: 23px;background:#f4f4f4;text-align:center;font-size:14px;color:#404040
 }
 .selectedRow{
 	background:white;height: 23px;text-align:center;font-size:14px;
 }
 table a{
 	color:#007b00;text-decoration:none;
 }
 table a:hover{
 	color:red;text-decoration:underline;
 }
 table caption{
 	display:block;background:f2fdf2;color:#007b00;font-size:16px;
 }
 .gongye{
 	font-size:14px;color:#404040;
 }
 .yeinput{
 	width:20px;height:20px;
 }
 .queding{
 	height:20px;color:#007b00;font-weight:700px;background:#f2fdf2;
 }
 
 label{
 	font-size:14px;color:#404040;font-family:"ו";
 }